body{
    padding-top: 5rem;
    text-align: center;
}
.box{
    border: 2px solid black;
    width: 50%;
    margin: 1rem auto;
    height: 10rem;
   
}

#pickColor{
    height: 2rem;
    cursor: pointer;
}